@model IEnumerable<WebAdhesivoDian.Models.EstadoPedido>



<h1>Gestión estado de pedido</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear un nuevo estado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.IdEstado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstado">Delete</a>
            </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.IdEncabezado">Edit</a> |*@
                <a asp-action="Edit" asp-route-id="@item.IdEstado" class ="btn btn-outline-warning">Editar</a> 
                @*<a asp-action="Delete" asp-route-id="@item.IdEncabezado">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
