@model IEnumerable<WebAdhesivoDian.Models.PermisoRolModulo>



<h1>Permisos</h1>

</p>
<a asp-action="Create" class="btn btn-outline-success">Crear Nuevo Permiso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_permiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Permiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Modulos.Descripcion)
            </td>
                 <td>
                        <a asp-action="Edit" asp-route-id="@item.Id_permiso" class ="btn btn-outline-success">Editar</a> 
                    @*<a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>*@
                </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id_permiso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_permiso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_permiso">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
